@import "../../../styles/sass/base/variables.scss";
.bapteme {
  background: linear-gradient(rgba(235, 89, 48, 0.9), rgba(235, 89, 48, 0.8)),
    url("https://res.cloudinary.com/personnal/image/upload/c_fill,g_auto,h_250,w_970/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative,l_text:montserrat_25_style_light_align_center:Shop%20Now,w_0.5,y_0.18/v1650956964/background-section-bapteme_xn7bin.jpg");
  background-size: cover;
  color: rgb(235, 89, 48);
  padding: 5rem 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-black;
    line-height: 1;
    gap: 1rem;
  }
  &__title {
    text-transform: uppercase;
    text-align: center;
  }
  &__question {
    font-size: 2rem;
    color: $color-white;
    text-align: center;
    line-height: 1.5;
  }

  &__button {
    border-radius: 5rem;
    min-height: 50px;
    padding: 0 3rem;
    gap: 0.5rem;
    overflow: hidden;

    a {
      color: $color-primary !important;
    }
  }
  &__button:hover {
    background: $color-secondary;

    a {
      color: $color-white !important;
    }
  }
}
