@import "../../styles/sass/base/variables.scss";
@import "../../styles/sass/mixins/_responsive";

.citation {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  padding-bottom: 3rem;

  @include responsive(sm) {
    gap: 2rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    &__cardsBox {
      display: flex;
      flex-wrap: wrap;
      gap: 2%;

      & > * {
        flex: 0 0 calc(96% / 3);
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }

    &__citation,
    &__citationLivres,
    &__declarations {
      display: flex;
      gap: 3rem;
    }
  }
}
