.btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  transition: background-color cubic-bezier(0.645, 0.045, 0.355, 1) 0.02s;
  overflow: hidden;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    gap: 0.5rem;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__text {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &:focus,
  &:visited {
    outline: none;
    border: none;
  }
}
