@import "../../../styles/sass/base/variables.scss";
.form {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__control {
    color: $color-secondary;
    font-size: 1.5;
    border: none;
    padding: 1rem 2rem;
    background: #ffffff;
    border-radius: 50px;

    &:focus {
      outline: 2px;
    }
  }
}
