@import "../../styles/sass/base/variables.scss";
@import "../../styles/sass/mixins/_responsive";

.medias {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  @include responsive(sm) {
    gap: 1rem;
  }

  &__titleBox {
    padding: 5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(97, 56, 24, 0.9), rgba(97, 56, 24, 0.8)),
      url("../../public/assets/images/backgrounds/bapteme-section-bgc.jpg");
    background-size: cover;
    overflow: hidden;
    background-position: center center;
    min-height: 50px;
    height: 50px;
    max-height: 50px;

    &__title {
      text-transform: uppercase;

      font-size: 4rem;
      color: $color-white;
      position: relative;
      font-weight: 600;

      &:before {
        content: "";
        width: 0.5rem;
        height: 30px;
        background: $color-primary;
        position: absolute;
        left: -1rem;
        top: 11px;
      }

      @include responsive(sm) {
        font-size: 2.5rem;
        &:before {
          height: 20px;

          position: absolute;

          top: 3px;
        }
      }

      @include responsive(md) {
        font-size: 2.5rem;
      }
    }
  }
  &__content {
    &__main {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-column-gap: 7rem;
      grid-row-gap: 7rem;

      @include responsive(sm) {
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
      }
    }
  }
}
