@import "../../styles/sass/base/variables.scss";
@import "../../styles/sass/mixins/_responsive";

.medias {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-bottom: 3rem;

  @include responsive(sm) {
    gap: 1rem;
  }

  &__content {
    &__main {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-column-gap: 7rem;
      grid-row-gap: 7rem;

      @include responsive(sm) {
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
      }
    }
  }
}
