@import "../../../styles/sass/base/variables.scss";
@import "../../../styles/sass/mixins/_responsive";

.citationlist {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 3rem;
  background: #fdf6e3;

  h1 {
    text-transform: lowercase;

    @include responsive(sm) {
      font-weight: 100 !important;
    }
  }

  @include responsive(sm) {
    gap: 2rem;
    padding-bottom: 2rem;
  }

  &__content {
    &__wrapper {
      display: flex;
      flex-direction: column;
    }
    &__filterBox {
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      position: relative;
      align-self: flex-start;

      &__label {
        letter-spacing: 1rem;
        font-size: 1.2rem;

        @include responsive(sm) {
          letter-spacing: 1px;
        }
      }
      &__list {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        &__item {
          padding: 1.5rem;
          white-space: nowrap;

          a {
            color: $color-black !important;
          }
          &:hover {
            background: $color-secondary;
            padding: 1.5rem;
            cursor: pointer;
            a {
              color: $color-white !important;
            }
          }
        }
      }
    }
    &__list {
      display: flex;
      position: relative;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      &::after {
        content: " ";
        width: 100%;
        height: 2px;
        display: block;
        background-color: $color-secondary;
        position: absolute;
        left: 0;
        top: -0.2rem;
      }

      @include responsive(sm) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
