@import "../../../styles/sass/base/variables.scss";
@import "../../../styles/sass/mixins/_responsive";
.cardBook {
  display: flex;
  min-width: 320px;
  gap: 0.5rem;
  border-bottom: 1px solid $color-primary;

  &__pictureBox {
    flex: 0 0 100px;
    & > :only-child {
      align-self: auto;
    }
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-sizing: border-box;

    &__titleBox {
      display: flex;

      &__title {
        font-weight: 600;
        font-size: 1.6rem;

        &::first-letter {
          text-transform: uppercase;
        }
      }
      &__icon {
        margin-left: auto;
      }
    }

    &__subtitle {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.5rem;
      color: $color-gray;

      & span {
        display: flex;
        align-items: center;
      }
      &__icon {
        svg {
          font-size: 2rem;
        }
      }
      &__author {
        @include responsive(sm) {
          font-size: 1rem;
        }
      }
    }

    &__description {
      @include responsive(sm) {
        font-size: 1rem;
      }
    }

    &__btnBox {
      margin-left: auto;
      margin-top: auto;
      &__btn {
        flex: 1;
        background: $color-primary;
        padding: 0.5rem 1rem !important;

        a,
        svg {
          display: inline-block;
          padding: 0 !important;
          text-transform: uppercase;
          color: $color-white !important;
        }
        a {
          font-size: 1rem;
        }
        svg {
          font-size: 2rem;
        }

        &:hover {
          background: $color-secondary;
        }
      }
    }
  }
}
