.listLinks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    &__link {
      display: flex;
      align-items: center;

      span:last-of-type {
        font-family: "EB Garamond", "Montserrat", serif !important;
        font-size: 1.7rem;
      }
      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          font-size: 1em;
        }
      }

      &__text {
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}
