@import "../../../styles/sass/base/variables.scss";
@import "../../../styles/sass/mixins/_responsive.scss";
.blog {
  padding-bottom: 3rem;
  background: #fdf6e3;

  &__article {
    display: flex;
    flex-direction: column;

    &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.8rem;
      padding: 0 10rem;

      font-size: 1.7rem;

      font-family: "EB Garamond", sans-serif;
      line-height: 1.5;
      blockquote {
        padding-left: 1rem;
        line-height: 1.3;
        margin: 2rem 0;
        font-style: italic;
      }

      p {
        font-size: 2rem !important;
      }

      ol {
        display: flex !important;
        flex-direction: column;
        gap: 2rem !important;
        list-style: decimal;
        list-style-position: inside;
        font-size: 2rem;
      }

      @include responsive(sm) {
        padding: 0 0.5rem;
      }

      h3 {
        font-size: 2.5rem;
        text-transform: uppercase;
        text-align: center;
      }
    }
    &__breadcrumd {
      padding: 1rem 10rem;

      font-size: 1.7rem;

      font-family: "EB Garamond", sans-serif;
      line-height: 1.5;

      @include responsive(sm) {
        align-self: flex-start !important;
        padding: 1rem 0;
      }
    }

    &__header {
      background: linear-gradient(rgba(97, 56, 24, 0.9), rgba(97, 56, 24, 0.8)),
        url("https://res.cloudinary.com/personnal/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1650927714/bg_footer_om9iqq.jpg");
      background-size: cover;
      background-position: center center;
      padding: 3rem 10rem;
      color: $color-white;
      @include responsive(sm) {
        padding: 3rem 0.5rem;
      }
    }

    @include responsive(md) {
      max-width: 100%;
    }

    &__title {
      font-size: 4rem;
      color: $color-black;
      align-self: flex-start;
      line-height: 1.3;
      color: $color-white;
      margin-bottom: 1rem;
      &::first-letter {
        text-transform: uppercase;
      }

      @include responsive(md) {
        font-size: 4rem;
      }
      @include responsive(sm) {
        font-size: 3rem;
      }
    }
    &__subtitle {
      font-size: 2rem;
      color: gray;

      align-self: flex-start;
      line-height: 1.2;

      @include responsive(md) {
        font-size: 1.6rem;
      }

      &__cite {
        font-weight: 700;
      }
    }

    &__infosBox {
      display: flex;
      gap: 0.5rem;
      align-self: flex-start;

      &__icon,
      &__author,
      &__separator,
      &__date {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
      }
      &__author,
      &__date {
        font-size: 2rem;

        @include responsive(sm) {
          font-size: 1.5rem;
        }
      }

      &__icon {
        transform: scale(0.8);
      }
      &__date {
        color: rgba(128, 128, 128, 0.521) 080;
      }

      @include responsive(md) {
        font-size: 1.2rem;
        gap: 0.1rem;
        &__icon {
          transform: scale(0.6);
        }
        &__date {
          color: rgba(128, 128, 128, 0.521) 080;
        }
      }
    }

    &__pictureBox {
      flex: 1;
      margin-top: 3rem;
      max-height: 500px;
      overflow: hidden;
    }

    &__text {
      word-break: keep-all;

      @include responsive(md) {
        font-size: 1.3rem;
      }
      @include responsive(sm) {
        font-size: 1.3rem;
      }
      p {
        line-height: 1.5;
      }
    }

    &__socialsMedias {
      margin: 3rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      gap: 2rem;

      @include responsive(sm) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      &__label {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1rem;
      }
    }

    &__prevNextBox {
      margin-top: 3rem;
      width: 100%;
      display: flex;

      &__next,
      &__prev {
        &__button {
          background: $color-secondary;
          padding: 1rem;

          svg {
            font-size: 2rem;
            color: $color-white;
          }
          a {
            color: $color-white;
            text-transform: uppercase;
            font-size: 1.5rem;
            span:last-of-type {
              display: flex;
              justify-content: center;
              align-self: center;
            }
            &:hover {
              color: $color-white !important;
            }
          }

          &:hover {
            background: $color-primary;
          }
        }
      }
      &__prev {
        margin-left: auto !important;
      }
    }
  }
  &__spinnerBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
