@import "../../styles/sass/base/variables.scss";
@import "../../styles/sass/mixins/_responsive";

.organisation {
  display: flex;
  flex-direction: column;
  gap: 7rem;

  @include responsive(sm) {
    gap: 2rem;
  }

  &__content {
    margin-bottom: 3rem;

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 5rem;

      @include responsive(sm) {
        gap: 2rem;
      }
    }
  }
}
