@import "../../styles/sass/base/variables.scss";
@import "../../styles/sass/mixins/_responsive";

.aboutMe {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-bottom: 5rem;

  @include responsive(sm) {
    gap: 2rem;
  }

  &__content {
    &__text {
      //   padding: 9rem 0;
      text-align: center;
      line-height: 1.5;
      font-size: 2rem;
      &__strong {
        font-weight: bold;
      }
      &__em {
        font-style: italic;
      }
    }
  }

  &__cardsBox {
    &__wrapper {
      display: grid;

      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;

      @include responsive(md) {
        display: flex;
        flex-direction: column;
      }

      & > div {
        background-color: $color-secondary;
      }

      & > :first-child,
      & > :last-child {
        background: $color-primary;

        h4 {
          color: $color-black;
        }
      }
    }
  }

  &__meansOfAction {
    background: $color-secondary;

    background: linear-gradient(rgba(97, 56, 24, 0.9), rgba(97, 56, 24, 0.9)),
      url("https://res.cloudinary.com/personnal/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1650937136/background_about_ho1hml.jpg");
    background-size: cover;

    padding-bottom: 8rem;

    &__titleBox {
      padding: 9rem;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: center;

      @include responsive(sm) {
        padding: 5rem;
      }

      &__decoration {
        width: 7px;
        height: auto;
        background: $color-primary;
      }
      &__title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 4rem;
        color: $color-white;

        @include responsive(md) {
          font-size: 2rem;
        }
      }
    }
    &__content {
      &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 7rem;
        color: $color-white;

        @include responsive(md) {
          gap: 3rem;
        }
        &__item {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 2rem;
          position: relative;
          top: 0;
          @include responsive(md) {
            font-size: 1.5rem;
          }

          &:after {
            content: "";
            background-color: $color-primary;
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: -10px;
          }
        }
      }
    }
  }
}
