@import "../../styles/sass/base/variables.scss";
@import "../../styles/sass/mixins/_responsive.scss";

.confession {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-bottom: 3rem;

  @include responsive(sm) {
    gap: 2rem;
  }

  &__content {
    padding-bottom: 3rem;
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

    &__main {
      max-width: 667px;
      text-align: justify;
      color: $color-black;
      border: solid 1px $color-black;
      box-sizing: border-box;
      padding: 3rem;

      @include responsive(sm) {
        border: solid 1px $color-black;
      }

      &__list {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        @include responsive(sm) {
          gap: 2rem;
        }

        &__item {
          line-height: 1.5;
          word-break: keep-all;

          @include responsive(sm) {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
