@import "../../../styles/sass/base/variables.scss";
@import "../../../styles/sass/mixins/_responsive";

.bookDetail {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-bottom: 3rem;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    overflow: hidden;

    ul {
      display: flex;
      gap: 3rem;
    }

    &__bookDetailBox {
      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;

      @include responsive(sm) {
        &::before {
          content: " ";
          width: 2px;
          height: 100%;
          display: block;
          background: $color-primary;
          position: absolute;
          left: 0;
        }
      }
    }
  }
}
