@import "../../styles/sass/base/variables.scss";
@import "../../styles/sass/mixins/_responsive";

.home {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include responsive(sm) {
    min-width: 100%;
    width: 100%;
    overflow: hidden;
  }

  &__mobile {
    display: none;

    @include responsive(sm) {
      display: block;
      height: 95vh;

      &__hello {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("../../public/assets/images/mobile/jcdiambilay_mobile.jpg")
          no-repeat;
        background-size: cover;

        &__textBox {
          display: flex;
          &__title {
            display: flex;
            flex-direction: column;
            font-size: 3rem;
            color: $color-white;
            width: 100vw;
            gap: 0.1px;

            span:first-of-type {
              text-transform: uppercase;
              font-weight: 900;
              padding: 0.5rem 0 0;
            }
            span:last-of-type {
              font-size: 2rem;
              background: $color-primary;
              padding: 1rem;
              color: $color-white;
              box-sizing: border-box;
              align-self: flex-start;
            }
          }
        }
        &__pictureBox {
          width: 100%;
          min-height: 95vh;
        }
      }

      &__slider {
        width: 100%;
        min-height: 100%;
        display: grid;
        grid-template-rows: 95vh;
        grid-template-columns: 1fr;

        &__pictureBox {
          grid-column-start: 1;
          grid-column-end: -1;
          display: flex;
        }
      }
    }
  }

  &__headerBox {
    height: 100%;
    max-height: 100vh;
    min-height: 700px;
    // overflow: hidden;
    position: relative;

    @include responsive(sm) {
      display: none !important;
    }

    &__hello {
      display: flex;
      width: 100%;
      height: 100%;

      min-height: 700px;

      max-height: 100vh;
      background: linear-gradient(
          to right,
          rgba(97, 56, 24, 0.8),
          rgba(97, 56, 24, 0.1)
        ),
        url("../../public/assets/images/backgrounds/jcdiambilay_bgc_web.jpg")
          repeat;

      background-size: cover;

      &__wrapper {
        display: flex;
      }

      &__content {
        width: 100%;
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        & > div {
          flex: 1;
        }

        &__textBox {
          display: flex;
          justify-content: center;
          background: transparentize($color-secondary, 0.5);
        }
        // &__pictureBox {
        //   display: flex;
        //   grid-row-start: 1;
        //   grid-row-end: -1;
        //   transform: scale(1.2);
        // }
      }
    }

    &__slider {
      min-height: 100vh;
      height: 100%;
      max-height: 100vh;

      overflow: hidden;
      display: grid !important;
      grid-template-rows: 1fr;
      grid-auto-columns: 1fr;
      position: relative;
      line-height: 1.2;

      &__textBox,
      &__image {
        grid-row-start: 1;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-start: -1;
      }

      &__textBox {
        z-index: 2;
        display: flex;

        &__wrapper {
          display: flex;
          justify-content: center;

          & > div {
            flex: 1;
          }
        }

        &__content {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 1px;

          &__title {
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 1;
            color: $color-white;

            &__strong:first-of-type {
              text-transform: uppercase;
              font-weight: 900 !important;
              font-size: 4rem;
            }
            &__strong:last-of-type {
              font-size: 3rem;
              color: #c0c0c0;
              // color: darken($color-white, 0.7) !important;
            }
          }
          &__subtitle {
            font-size: 2rem;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.2rem;
            color: #c0c0c0;
            & > span:last-of-type {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          &__btnBox {
            &__btn {
              background: #f0d210;
              padding: 1rem;
              display: flex;
              justify-content: center;
              align-items: center;
              svg {
                font-size: 3rem;
              }

              a {
                color: $color-black !important;
                text-transform: uppercase;
                font-weight: 400;
              }
            }
          }
        }
      }
      &__image {
        z-index: 1;
        transform: scale(1.1) translateY(-9rem);
      }
    }
  }

  &__hello {
    &__title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__hello {
        text-transform: uppercase;
        font-weight: 900;
        color: $color-white;
        font-size: 5rem;

        @include responsive(sm) {
          font-size: 3rem;
          padding: 1rem;
        }
      }

      &__nameSite {
        background: $color-primary;
        padding: 0 1rem;
        color: $color-white;

        @include responsive(sm) {
          font-size: 2rem;
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    padding-bottom: 5rem;
  }
}
