@import "../../styles/sass/base/variables.scss";
@import "../../styles/sass/mixins/_responsive";

.home {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include responsive(sm) {
    min-width: 100%;
    width: 100%;
    overflow: hidden;
  }

  &__mobile {
    display: none;

    @include responsive(sm) {
      display: block;
      height: 95vh;

      &__hello {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("../../public/assets/images/mobile/jcdiambilay_mobile.jpg")
          no-repeat;
        background-size: cover;

        &__textBox {
          display: flex;
          &__title {
            display: flex;
            flex-direction: column;
            font-size: 3rem;
            color: $color-white;
            width: 100vw;
            gap: 0.1px;

            span:first-of-type {
              text-transform: uppercase;
              font-weight: 900;
              padding: 0.5rem 0 0;
            }
            span:last-of-type {
              font-size: 2rem;
              background: $color-primary;
              padding: 1rem;
              color: $color-white;
              box-sizing: border-box;
              align-self: flex-start;
            }
          }
        }
        &__pictureBox {
          width: 100%;
          min-height: 95vh;
        }
      }

      &__slider {
        width: 100%;
        min-height: 100%;
        display: grid;
        grid-template-rows: 95vh;
        grid-template-columns: 1fr;
        position: relative;

        &__pictureBox {
          grid-column-start: 1;
          grid-column-end: -1;
          display: flex;
          z-index: 1;
          position: relative;
        }
        &__textBox {
          position: absolute;
          top: 60%;

          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 2;

          &__content {
            background: transparentize($color-secondary, 0.5);
            padding: 2rem 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            &__title {
              display: flex;
              flex-direction: column;
              line-height: 2.5rem;
              text-align: center;
              color: $color-white;

              &__strong:first-of-type {
                text-transform: uppercase;
                font-weight: 900 !important;
              }
              &__strong:last-of-type {
                font-size: 1.6rem;
                color: $color-primary;
              }
            }
            &__subtitle {
              text-align: center;
              line-height: 1;
              color: $color-white;
              span {
                svg {
                  font-size: 1rem;
                }
              }
            }
            &__btnBox {
              &__btn {
                background: $color-primary !important;
                padding: 1rem;

                a {
                  text-transform: uppercase;
                }
                svg {
                  color: $color-white;
                  font-size: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }

  &__headerBox {
    height: 95vh;
    max-height: 95vh;

    // overflow: hidden;
    position: relative;

    @include responsive(sm) {
      display: none !important;
    }

    &__hello {
      display: flex;
      width: 100%;
      height: 100%;

      background: linear-gradient(
          to right,
          rgba(97, 56, 24, 0.8),
          rgba(97, 56, 24, 0.1)
        ),
        url("../../public/assets/images/backgrounds/jcdiambilay_bgc_web.jpg")
          no-repeat;

      background-size: cover;

      &__wrapper {
        display: flex;
      }

      &__content {
        width: 100%;
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        & > div {
          flex: 1;
        }

        &__textBox {
          display: flex;
          justify-content: center;
          background: transparentize($color-secondary, 0.5);
        }
      }
    }

    &__slider {
      width: 100%;
      height: 100%;
      display: flex;

      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;

      &__textBox {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        &__wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &__content {
          background: transparentize($color-secondary, 0.5);
          padding: 2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &__title {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 5px;
            line-height: 2rem;

            &__strong:first-of-type {
              text-transform: uppercase;
              font-weight: 900;
              color: $color-white;
              font-size: 3rem !important;
            }
            &__strong:last-of-type {
              color: $color-primary;
            }
          }

          &__subtitle {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            white-space: nowrap;
            color: $color-white;
            font-size: 1.3rem;
          }

          &__btnBox {
            &__btn {
              background: $color-primary;
            }
            a {
              text-transform: uppercase;
              font-weight: 600;
              color: $color-white !important;
            }
            svg {
              color: $color-white !important;
            }
          }
        }
      }

      &__image {
        width: 100%;
        height: 100%;
        display: flex;

        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: -1;
        z-index: 1;

        &__picture {
          width: 100vw;
        }
      }
    }
  }

  &__hello {
    &__title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__hello {
        text-transform: uppercase;
        font-weight: 900;
        color: $color-white;
        font-size: 5rem;

        @include responsive(sm) {
          font-size: 3rem;
          padding: 1rem;
        }
      }

      &__nameSite {
        background: $color-primary;
        padding: 0 1rem;
        color: $color-white;

        @include responsive(sm) {
          font-size: 2rem;
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    padding-bottom: 5rem;
  }
}
