@import "../../styles/sass/mixins/_responsive";
@import "../../styles/sass/base/variables.scss";

.navlink {
  &__box {
    display: flex;
    flex-direction: row !important;
    gap: 4rem;
    margin-bottom: 0;
    position: relative;

    @include responsive(sm) {
      gap: 2rem;
    }

    &__item {
      display: flex;
      align-items: center;
      flex: 1;

      &__link {
        display: flex;
        align-items: center;
        flex: 1;
        margin-left: -1.5rem;
        white-space: nowrap;

        span {
          svg {
            font-size: 2.5rem;
          }
          display: flex;
          align-items: center;
        }
        &__text {
          &:hover {
            color: $color-primary !important;
          }
        }
      }
    }

    &__item__link {
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 5px;
        background: $color-primary;
        display: block;
        position: absolute;
        left: 0;
        top: 5rem;
        border-radius: 50px;
        transition: all 0.2s ease-out;
      }
    }

    &__item:hover &__item__link {
      &::after {
        content: "";

        position: absolute;

        top: 2.5rem;
      }
    }
  }
}
