@import "../../styles/sass/mixins/_responsive";
@import "../../styles/sass/base/variables.scss";

.navlink {
  &__box {
    display: flex;
    flex-direction: row !important;
    gap: 3rem;
    margin-bottom: 0;
    position: relative;

    @include responsive(sm) {
      gap: 2rem;
    }

    &__item,
    &__active {
      display: flex;
      align-items: center;

      cursor: pointer;
      position: relative;

      &__link {
        display: flex;
        align-items: center;
        flex: 1;

        white-space: nowrap;
        pointer-events: none;
        color: $color-white;

        span {
          svg {
            font-size: 2.5rem;
          }
          display: flex;
          align-items: center;
        }
        &__text {
          &:hover {
            color: $color-primary !important;
          }
        }
      }

      &::after {
        content: "";
        width: 100%;
        height: 5px;
        background: $color-primary;
        display: block;
        position: absolute;
        left: 0;
        border-radius: 50px;
        transition: all 0.2s ease-out;
      }

      &:hover {
        &::after {
          content: "";

          top: 3.3rem;
        }
      }
    }
    &__item {
      &::after {
        top: 5rem;
      }
    }
    &__active {
      a {
        color: $color-primary !important;
        @include responsive(sm) {
          color: $color-secondary !important;
        }
      }
      &::after {
        top: 3.3rem;
      }
    }
  }
}
