@import "../../../styles/sass/base/variables.scss";
.cardCitation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  &__pictureBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.2;
  }
}
