@import "../../../styles/sass/base/variables.scss";
@import "../../../styles/sass/mixins/_responsive.scss";
.blog {
  padding-bottom: 3rem;
  background: #fdf6e3;

  &__article {
    display: flex;
    flex-direction: column;
    &__originUrl {
      align-self: flex-start;
    }
    &__header,
    &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.8rem;
      max-width: 70%;
      margin: 0 auto;
      line-height: 1.3;

      @include responsive(md) {
        max-width: 100%;
      }
    }

    @include responsive(md) {
      max-width: 100%;
    }

    &__title {
      font-size: 4rem;
      color: $color-black;
      align-self: flex-start;
      line-height: 3.6rem;

      @include responsive(md) {
        font-size: 4rem;
      }
      @include responsive(sm) {
        font-size: 3rem;
        line-height: 1;
      }
    }
    &__subtitle {
      font-size: 2rem;
      color: gray;

      align-self: flex-start;
      line-height: 1.2;

      @include responsive(md) {
        font-size: 1.6rem;
      }

      &__cite {
        font-weight: 700;
      }
    }

    &__infosBox {
      font-size: 1.4rem;
      display: flex;
      gap: 0.5rem;
      align-self: flex-start;
      align-items: center;
      justify-content: center;

      &__icon,
      &__author,
      &__separator,
      &__date {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
      }

      &__icon {
        transform: scale(0.8);
      }
      &__date {
        color: rgba(128, 128, 128, 0.521) 080;
      }

      @include responsive(md) {
        font-size: 1.2rem;
        gap: 0.1rem;
        &__icon {
          transform: scale(0.6);
        }
        &__date {
          color: rgba(128, 128, 128, 0.521) 080;
        }
      }
    }

    &__pictureBox {
      flex: 1;
      margin-top: 3rem;
      max-height: 500px;
      overflow: hidden;
    }

    &__text {
      text-align: justify;
      word-break: keep-all;

      @include responsive(md) {
        font-size: 1.3rem;
      }
      @include responsive(sm) {
        font-size: 1.3rem;
      }
      p {
        line-height: 1.5;
      }
    }

    &__socialsMedias {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-end;
      gap: 1rem;
      &__label {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1rem;
      }
    }

    &__prevNextBox {
      margin-top: 3rem;
      width: 100%;
      display: flex;

      &__next,
      &__prev {
        &__button {
          background: $color-secondary;
          padding: 1rem;
          svg {
            font-size: 2rem;
            color: $color-white;
          }
          a {
            color: $color-white;
          }

          &:hover {
            background: $color-primary;
          }
        }
      }
      &__next {
        margin-left: auto !important;
      }
    }
  }
}
