@import "../../styles/sass/base/variables.scss";
@import "../../styles/sass/mixins/_responsive";

.books {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-bottom: 8rem;

  @include responsive(sm) {
    gap: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1;

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 6rem;
    }

    &__intro {
      font-size: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem 0;

      @include responsive(sm) {
        font-size: 2rem;
        background: transparentize($color-primary, 0.8);
      }

      &__text {
        text-align: center;
        width: 60%;
        font-size: inherit;

        &__strong {
          font-weight: 600;
        }
      }
    }
    &__newsBooksCollection,
    &__collectionCielOuvert {
      &__box {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3), 1fr));

        align-items: center;
        grid-row-gap: 1rem;

        @include responsive(sm) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2rem;
        }
      }
    }

    &__pointsVentes {
      background: $color-primary;
      display: flex;
      flex-direction: column;
      padding: 3rem 0;
      gap: 3rem;
      color: $color-white;
      border-radius: 1rem;

      @include responsive(sm) {
        display: none;
      }

      &__title {
        align-self: center;
        color: $color-white;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 900;
        position: relative;

        &:before {
          content: "";
          width: 0.5rem;
          height: 22px;
          background: $color-secondary;
          position: absolute;
          left: -1rem;
          top: 9px;
        }
      }
      &__table {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &__body,
        &__head {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          tr {
            display: flex;
            background: transparentize($color-secondary, 0.8);
            padding: 1rem 0;

            & > * {
              flex: 1;
              vertical-align: middle;
            }
          }
        }
        &__head {
          font-weight: 900;

          tr {
            background: transparentize($color-secondary, 0.5);
          }
        }
        &__body {
          tr {
            td {
              text-align: center;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}
